.center{
    
     position: absolute;
     width: 250px;
     height: 250px;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;

}
  table, th, td {
        border: 1px solid black; /* Width, Style, Color */
        border-collapse: collapse; /* Prevents double lines */
    }